.name_header {
  display: grid;
  place-items: center;
  color: #b4befe;
  font-size: 40px;
}


body {
  background-color: #1e1e2e;
  font-family: JetBrains Mono;
}


.Checkbox {
  transform: scale(2.5);
}

.checkboxConteiner {
  padding: 20px 20px 20px;
  background-color: #313244;
  border-radius: 10px;
}